/* SF Pro Display */
@font-face {
    font-family: "SF Pro";
    src: url("/src/assets/fonts/SFPro/SFPRODISPLAYREGULAR.otf") format("opentype");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "SF Pro";
    src: url("/src/assets/fonts/SFPro/SFPRODISPLAYMEDIUM.otf") format("opentype");
    font-weight: 500;
  }
  
  @font-face {
    font-family: "SF Pro";
    src: url("/src/assets/fonts/SFPro/SFPRODISPLAYBOLD.otf") format("opentype");
    font-weight: 700;
  }
  


  
@import "tailwindcss";
body {
    font-family: "SF Pro", sans-serif;
  }